.wowhover:hover {
    outline: 12px solid #00B2FF;
    outline-style:auto;
}
.wowhover {
    border: 1px solid transparent;
}

.gotothemiddle{
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
}
.labeltest {
    display: block;
    text-align: center;
    
}